.Articles .article-container-section {
    width: 80%;
    padding-bottom: 50px;
    border-left: 1px solid white;
    margin: auto;
}


.Articles .article-page{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.Articles .article-content{
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    min-height: 450px;
    max-height: 450px;
    margin-right: 80px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0px 0px 10px #888888;
}
.Articles .article-content:hover{
    box-shadow: 0px 0px 5px red;
}

.Articles .article-content img{
    width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}
.Articles .article-content h1{
     font-size: 1vw;
     margin-top: 10px;
}

.Articles .article-content .content{
    font-size: 0.7vw;
    max-width: 350px;
    text-align: justify;
    color:rgb(92, 92, 92);
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 50px;
}